<header-component></header-component>
<div class="contenedor-noticias content">
    <div class=" noticias-titulo d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom row">
            <h1>Noticias</h1>
            <div class="pb-5">
                    <a href="noticias/new/" class="btn btn-outline-elegant btn-sm active float-right" role="button" aria-pressed="true"><i class="fas fa-plus-circle fa-1x"></i> Nueva noticia</a>

                </div>
            <div class="btn-toolbar mb-2 mb-md-0">
                
            </div>
        </div>
    
    <div class="noticias-main">
        <section class="noticias row">
            <article ng-repeat="fila in ajaxData"  class="border border-secundary rounded">
                <img src="http://localhost:8081/images_server/noticias/{{fila.foto}}" alt="foto noticia {{fila.id}}">
                <div class="texto">
                    <div>
                        <h4>{{fila.titulo}}</h4>
                        <small>{{fila.obj_usuario.nombre}} {{fila.obj_usuario.ape1}}</small><hr>
                        <p>{{fila.mensaje|clipString}}</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="noticias/view/{{fila.id}}/{{page}}" title="Ver noticia completa" class="btn btn-amber" role="button">Más información...</a>                        
                    </div>
                </div>

            </article>
        </section>


        <div class="row d-flex flex-wrap align-items-center justify-content-center">
            <nav aria-label="paginacion">
                <ul class="pagination pg-amber">
                    <li class="page-item">
                        <a class="page-link" ng-show="page > 2" href="noticias/plist/{{rpp}}/1/{{order}}/{{align}}">inicio</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" ng-show="page > 1" href="noticias/plist/{{rpp}}/{{page - 1}}/{{order}}/{{align}}">posteriores</a>
                    </li>
                    <li class="page-item" ng-class="{'active':(p == page), 'disabled': p === '...'}" ng-repeat="p in list2 track by $index">
                        <a class="page-link" href="noticias/plist/{{rpp}}/{{p}}/{{order}}/{{align}}">{{p}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" ng-show="page != totalPages" href="noticias/plist/{{rpp}}/{{page--1}}/{{order}}/{{align}}">anteriores</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" ng-show="page != totalPages - 1 && page != totalPages" href="noticias/plist/{{rpp}}/{{totalPages}}/{{order}}/{{align}}">fin</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div> 
</div>

<footer class="footer" ng-include="'js/app/footer.html'"></footer>
