<header-component></header-component>
<div class="contenedor-noticias content">
    <div class="row">
        <div class="col-12">
            <div class="row mt-5">
                <div class="col-12 mx-auto">
                    <h2 class="text-center mb-3"><i></i> {{ajaxData.titulo}} </h2>
                    <small>{{ajaxData.obj_usuario.nombre}} {{ajaxData.obj_usuario.ape1}}</small>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mx-auto noticias-main justify-content-center">
                    <section class="noticias row">
                        <article class="border border-secundary rounded">
                            <img src="http://localhost:8081/images_server/noticias/{{ajaxData.foto}}" alt="foto noticia {{ajaxData.id}}">
                            <div class="texto">
                                <div>
                                    <p class="saltos-linea">{{ajaxData.mensaje}}</p>
                                </div>
                                
                            </div>

                        </article>
                    </section>

                    <div class="col-12 mx-auto">
                        <button type="button" class="btn btn-outline-elegant btn-sm" ng-click="volver()">Volver</button>
                        <button ng-show="id_tiposusario == 1" type="button" class="btn btn-outline-elegant btn-sm" ng-click="editar()">Editar</button>
                        <button ng-show="id_tiposusario == 1" type="button" class="btn btn-outline-elegant btn-sm" ng-click="eliminar()">Eliminar</button>
                    </div>   
                </div> 

            </div>
        </div>
    </div>
</div>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>