<header-component></header-component>
<div class="contenedor-noticias content">
    <div class="row">
        <div class="col-12">
            <div class="row mt-5">
                <div class="col-12 mx-auto">
                    <h2 class="text-center mb-3"><i></i> {{ajaxData.titulo}} </h2>
                    <small>{{ajaxData.obj_usuario.nombre}} {{ajaxData.obj_usuario.ape1}}</small>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mx-auto noticias-main justify-content-center pagina-noticias">
                    <section class="noticias row">
                        <article class="border border-secundary rounded article-noticias">
                            <img src="http://localhost:8081/images_server/noticias/{{ajaxData.foto}}" alt="foto noticia {{ajaxData.id}}">
                            <div class="texto">
                                <div>
                                    <p class="saltos-linea">{{ajaxData.mensaje}}</p>
                                </div>
                                
                            </div>

                        </article>
                    </section>

                    <div class="col-12 mx-auto">
                        <button type="button" class="btn btn-outline-elegant btn-sm" ng-click="volver()">Volver</button>
                        <button ng-show="id_tiposusario == 1" type="button" class="btn btn-outline-elegant btn-sm" ng-click="editar()">Editar</button>
                        <button ng-show="id_tiposusario == 1" type="button" class="btn btn-outline-elegant btn-sm" ng-click="eliminar()">Eliminar</button>
                    </div>   
                </div> 

            </div>
        </div>
    </div>
</div>
 <div class="contenedor container-fluid">
     <div class="table-responsive mb-5" style="text-align: center;">
         <h4>Comentarios</h4>
         <table class="table table-hover table-sm tabla" ng-show="!noComments">
                    <tr ng-repeat="fila in ajaxDataComments">
                        <th>{{fila.obj_Usuario.login}}</th>
                        <td>{{fila.texto}}</td>
                    </tr>
                </table>
         <h5 ng-show="noComments && canComment">¡Haz el primer comentario!</h5>
         <h5 ng-show="noComments && !canComment">Todavía no hay comentarios en esta noticia</h5>
            </div>
     <div class="row" ng-show="canComment">
        <div class="col-12">
            <div class="row">
                <div class="col-auto mx-auto formulario">
                    <ng-form name="commentForm" class="form">
                        <div class="form-group">
                            <h4>¿Algo que decir?</h4>
                            <textarea rows="5" cols="30" class="form-control" id="comentario" name="comentario" ng-model="comentario" ng-required="true" placeholder="Escribe aquí tu comentario"/></textarea>
                            <div ng-show="!commentForm.comentario.$valid && !commentForm.comentario.$pristine" class="alert alert-danger" role="alert">
                                Escribe algo antes de enviar...
                            </div>
                        </div>
                        <div class="d-flex justify-content-between flex-wrap">
                            <button ng-click="newComment()" type="button" class="btn btn-amber btn-block" ng-disabled="commentForm.$invalid">Publicar</button>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
     <div class="col-12 mx-auto" ng-show="!noComments">
         <button type="button" class="btn btn-outline-elegant btn-sm" ng-click="volver()">Volver</button>
         <button ng-show="id_tiposusario == 1" type="button" class="btn btn-outline-elegant btn-sm" ng-click="editar()">Editar noticia</button>
         <button ng-show="id_tiposusario == 1" type="button" class="btn btn-outline-elegant btn-sm" ng-click="eliminar()">Eliminar noticia</button>
     </div>  
</div>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>