<header-component></header-component>
<div class="contenedor content">

    <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom row">
        <h1>La cosecha</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a href="carrito/carrito" ng-show="id_tiposusario == 1 || id_tiposusario == 2" class="btn-lg btn-dark-green fas fa-shopping-cart red-bar" role="button" ng-if="ajaxDataAdd != 'Carrito vacio'"></a>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">

            <div class="btn-group" style="width:400px;">
                <p class="mt-2" style="width:200px;">Productos por pagina: </p>
                <select class="form-control" 
                        ng-change="update()" 
                        ng-model="rpp">
                    <option value="6">6</option>
                    <option value="12">12</option>
                    <option value="24">24</option>
                    <option value="58">58</option>
                </select>
            </div>
        </div>
    </div>

    <section class="producto-carrito row">
        <article ng-repeat="fila in ajaxData"  class="border border-secundary rounded">
            <img src="http://localhost:8081/images_server/productos/{{fila.foto}}"  width="640" height="400" alt="producto 1">
            <div class="texto">
                <div>
                    <h4>{{fila.nombre}}</h4><hr>
                    <p>{{fila.desc}}</p>
                </div>
                <div ng-if="id_tiposusario == 1 || id_tiposusario == 2" class="d-flex justify-content-center">
                    <a href="producto/view/{{fila.id}}" title="Ver información del producto" class="btn btn-dark-green icon far fa-eye" role="button"></a>
                    <button type="button" title="Añade productos al carrito" ng-click="add(fila.id)" ng-click="showRed = true" class="btn btn-dark-green icon far fa-plus-square" ng-disabled="fila.existencias === existencias(fila.id)"></button>
                    <button type="button" title="Quita productos del carrito" ng-click="reduce(fila.id)" class="btn btn-dark-green icon far fa-minus-square" ng-disabled="existencias(fila.id) === 0"></button>
                    <span class="btn btn-dark-green icon" title="Tienes en el carrito {{existencias(fila.id)}} unidades" ng-style="fila.existencias===existencias(fila.id) && {'background-color':'#dc3545'}">{{existencias(fila.id)}}</span>
                </div>
            </div>

        </article>
    </section>


    <div class="row d-flex flex-wrap align-items-center justify-content-center">
        <nav aria-label="paginacion">
            <ul class="pagination pg-amber">
                <li class="page-item">
                    <a class="page-link" ng-show="page > 2" href="carrito/plist/{{rpp}}/1/{{order}}/{{align}}">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" ng-show="page > 1" href="carrito/plist/{{rpp}}/{{page - 1}}/{{order}}/{{align}}">Previous</a>
                </li>
                <li class="page-item" ng-class="{'active':(p == page), 'disabled': p === '...'}" ng-repeat="p in list2 track by $index">
                    <a class="page-link" href="carrito/plist/{{rpp}}/{{p}}/{{order}}/{{align}}">{{p}}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" ng-show="page != totalPages" href="carrito/plist/{{rpp}}/{{page--1}}/{{order}}/{{align}}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" ng-show="page != totalPages - 1 && page != totalPages" href="carrito/plist/{{rpp}}/{{totalPages}}/{{order}}/{{align}}">Last</a>
                </li>
            </ul>
        </nav>
    </div>
    <div ng-show="!conectado" class="row d-flex flex-wrap align-items-center justify-content-center">
        <a href="usuario/registro" class="btn btn-amber">¡Regístrate!</a>
    </div>
</div>

<footer class="footer" ng-include="'js/app/footer.html'"></footer>
