<header-component></header-component>
<div class="contenedor content">

    <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom row">
        <h1>La cosecha</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a href="carrito/carrito" title="Ver la cesta de la compra" ng-show="id_tiposusario == 1 || id_tiposusario == 2" class="btn-lg btn-dark-green fas fa-shopping-basket red-bar" role="button" ng-if="ajaxDataAdd != 'Carrito vacio'"></a>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">

            <div class="btn-group" style="width:400px;">
                <p class="mt-2" style="width:200px;">Productos por pagina: </p>
                <select class="form-control" 
                        ng-change="update()" 
                        ng-model="rpp">
                    <option value="6">6</option>
                    <option value="12">12</option>
                    <option value="24">24</option>
                    <option value="58">58</option>
                </select>
            </div>
        </div>
    </div>

    <section class="producto-carrito row">
        <article ng-repeat="fila in ajaxData"  class="border border-secundary rounded">
            <img ng-src="http://localhost:8081/images_server/productos/{{fila.foto}}"  width="640" height="400" alt="producto 1">
            <div class="txt-btn">
                <div class="texto">

                    <h4>{{fila.nombre}}</h4><hr>
                    <p>{{fila.desc}}</p>


                </div>
                <div ng-if="id_tiposusario == 1 || id_tiposusario == 2" class="botones d-flex justify-content-center">
                    <a href="producto/view/{{fila.id}}" title="Ver información del producto" class="btn btn-dark-green icon far fa-eye" role="button"></a>
                    <button type="button" title="Añade productos al carrito" ng-click="add(fila.id)" ng-click="showRed = true" class="btn btn-dark-green icon far fa-plus-square" ng-disabled="fila.existencias === existencias(fila.id)"></button>
                    <button type="button" title="Quita productos del carrito" ng-click="reduce(fila.id)" class="btn btn-dark-green icon far fa-minus-square" ng-disabled="existencias(fila.id) === 0"></button>
                    <span class="btn btn-dark-green icon" title="Tienes en el carrito {{existencias(fila.id)}} unidades" ng-style="fila.existencias===existencias(fila.id) && {'background-color':'#dc3545'}">{{existencias(fila.id)}}</span>
                    <a href="carrito/carrito" title="Ver la cesta de la compra" ng-show="id_tiposusario == 1 || id_tiposusario == 2" class="btn btn-dark-green icon" role="button" ng-if="ajaxDataAdd != 'Carrito vacio'"><i class="fas fa-shopping-basket"></i></a>
                </div> 
            </div>

        </article>
    </section>


    <div class="row d-flex flex-wrap align-items-center justify-content-center">
         <div class="col-md-12 ml-sm-auto col-lg-12">
                <div ng-show="totalPages>1" class="row d-flex justify-content-center flex-wrap align-items-center">
                    <nav aria-label="paginacion">
                        <ul class="pagination pg-amber pagination-circle">
                            <li class="page-item">
                                <a class="page-link  bg-light" ng-show="page > 2" href="{{ob}}/plist/{{rpp}}/1/{{orderURLCliente}}"><i class="fas fa-angle-double-left"></i></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link  bg-light" ng-show="page > 1" href="{{ob}}/plist/{{rpp}}/{{page - 1}}/{{orderURLCliente}}"><i class="fas fa-angle-left"></i></a>
                            </li>
                            <li class="page-item" ng-class="{'active':(p == page), 'disabled': p === '...'}" ng-repeat="p in list2 track by $index">
                                <a class="page-link " href="{{ob}}/plist/{{rpp}}/{{p}}/{{orderURLCliente}}">{{p}}</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link  bg-light" ng-show="page != totalPages" href="{{ob}}/plist/{{rpp}}/{{page--1}}/{{orderURLCliente}}"><i class="fas fa-angle-right"></i></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link  bg-light" ng-show="page != totalPages - 1 && page != totalPages" href="{{ob}}/plist/{{rpp}}/{{totalPages}}/{{orderURLCliente}}"><i class="fas fa-angle-double-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
    </div>
    

    <div ng-show="!conectado" class="row d-flex flex-wrap align-items-center justify-content-center">
        <a href="usuario/registro" class="btn btn-amber">¡Regístrate!</a>
    </div>
</div>

<footer class="footer" ng-include="'js/app/footer.html'"></footer>
