<header-component></header-component>
<div class="contenedor container-fluid">
    <div class="row">
        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4" style="margin-top: 50px">
            <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2"><i class="fas fas fa-align-justify fa-1x"></i> Linea</h1>
                <div class="btn-toolbar mb-2 mb-md-0">

                    <div ng-show="totalPages > 1" class="btn-group" style="width:400px;">
                        <p class="mt-2" style="width:200px;">Registros por pagina: </p>
                        <select class="form-control" 
                                ng-change="update()" 
                                ng-model="rpp">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </div>

                    <button title="Orden por defecto" type="button" class="btn-orden btn btn-outline-elegant  ml-3" ng-click="resetOrder()">
                        <i class="fas fa-sort-alpha-down fa-2x"></i>
                    </button>
                </div>
            </div>

            <div class="col-md-12 ml-sm-auto col-lg-12">
                <div ng-show="totalPages > 1" class="row d-flex justify-content-between flex-wrap align-items-center">
                    <nav aria-label="paginacion">
                        <ul class="pagination pg-amber pagination-circle">
                            <li class="page-item">
                                <a class="page-link  bg-light" ng-show="page > 2" href="{{ob}}/plist/{{rpp}}/1/{{orderURLCliente}}"><i class="fas fa-angle-double-left"></i></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link  bg-light" ng-show="page > 1" href="{{ob}}/plist/{{rpp}}/{{page - 1}}/{{orderURLCliente}}"><i class="fas fa-angle-left"></i></a>
                            </li>
                            <li class="page-item" ng-class="{'active':(p == page), 'disabled': p === '...'}" ng-repeat="p in list2 track by $index">
                                <a class="page-link " href="{{ob}}/plist/{{rpp}}/{{p}}/{{orderURLCliente}}">{{p}}</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link  bg-light" ng-show="page != totalPages" href="{{ob}}/plist/{{rpp}}/{{page--1}}/{{orderURLCliente}}"><i class="fas fa-angle-right"></i></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link  bg-light" ng-show="page != totalPages - 1 && page != totalPages" href="{{ob}}/plist/{{rpp}}/{{totalPages}}/{{orderURLCliente}}"><i class="fas fa-angle-double-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
<!--                <div class="pb-5">
                    <a href="{{ob}}/new/" class="btn btn-outline-elegant btn-sm active float-right" role="button" aria-pressed="true"><i class="fas fa-plus-circle fa-1x"></i> Crear nueva linea</a>

                </div>-->
            </div>




            <div class="table-responsive" style="text-align: center;">
                <table class="table table-hover table-sm tabla">
                    <tr>
                        <th>
                            <i class="fas fa-sort" ng-click="ordena('id')">ID</i>
                        </th>
                        <th>
                            <i class="fas fa-sort" ng-click="ordena('cantidad')">Cantidad</i>
                        </th>
                        <th>
                            <i class="fas fa-sort" ng-click="ordena('id_producto')">Producto</i>
                        </th>
                        <th>
                            <i class="fas fa-sort" ng-click="ordena('id_factura')">Factura</i>
                        </th>

                        <th> 
                            <p style="margin-left: 5%">Acciones</p> 
                        </th>
                    </tr>
                    <tr ng-repeat="fila in ajaxDataUsuarios">
                        <td>{{fila.id}}</td>
                        <td>{{fila.cantidad}}</td>

                        <td><a href="producto/view/{{fila.obj_Producto.id}}">{{fila.obj_Producto.nombre}}</a></td>
                        <td><a href="factura/view/{{fila.obj_Factura.id}}">{{fila.obj_Factura.id}}</a></td>
                        <td>
                            <div class="btn-group">
                                <button title="click para ver acciones disponibles" class="btn btn-outline-dark-green btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">

                                </button>
                                <div class="dropdown-menu menu-acciones">
                                    <button title="ver" type="button" class="dropdown-item btn btn-dark-green icon" ng-click="view(fila.id)">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                    <button title="editar" type="button" class="dropdown-item btn btn-dark-green icon " ng-click="edit(fila.id)">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button title="eliminar" type="button" class="dropdown-item btn btn-dark-green icon" ng-click="remove(fila.id)">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>

                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
        </main>
    </div>
</div>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>
