<!-- Fixed navbar 
ng-class="autoScroll ? 'icon-autoscroll' : 'icon-autoscroll-disabled'"

-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top scrolling-navbar">
    <a class="navbar-brand" href="home"><img src="./images/logo.png" alt="logo" class="largeLogo" id="Logo"/>  <span class="titulos">Cerca de la Huerta</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav nav-pills mr-auto justify-content-center">
            <!--            <li class="nav-item" ng-show="c.tipousuarioID!=3" ng-class="{'active': c.isActive('/home')}">
                            <a class="nav-link" href="home">Home <i class="fas fa-home"></i><span class="sr-only">(current)</span></a>
                        </li>-->
            <li class="nav-item" ng-class="{'active': c.isActive('/noticias/plist')}">
                <a class="nav-link" href="noticias/plist"><i class="far fa-newspaper"></i> <span class="titulos">Noticias</span></a>
            </li>
            <li class="nav-item" ng-class="{'active': c.isActive('/carrito/plist')}">
                <a class="nav-link" href="carrito/plist"><i class="fas fa-carrot fa-1x"></i> <span class="titulos">La cosecha</span></a>
            </li>
            <li class="nav-item dropdown" ng-show="c.limpiar && c.tipousuarioID == 1" ng-class="{'active': c.isActive('/tipousuario/plist') || c.isActive('/usuario/plist')
                    || c.isActive('/factura/plist') || c.isActive('/producto/plist') || c.isActive('/tipoproducto/plist') || c.isActive('/linea/plist')}">
                <a class="nav-link dropdown-toggle col-xs-1 titulos" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Administrar</a>
                <div class="dropdown-menu menu-listados dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" ng-class="{'activo': c.isActive('/tipousuario/plist')}" href="tipousuario/plist"><i class="fas fas fa-users fa-1x"></i> Tipo Usuario</a>
                    <a class="dropdown-item" ng-class="{'activo': c.isActive('/usuario/plist')}" href="usuario/plist"><i class="fas fa-user fa-1x"></i> Usuario</a>
                    <a class="dropdown-item" ng-class="{'activo': c.isActive('/factura/plist')}" href="factura/plist"><i class="fas far fa-file fa-1x"></i> Factura</a>
                    <a class="dropdown-item" ng-class="{'activo': c.isActive('/producto/plist')}" href="producto/plist"><i class="fas fas fa-cube fa-1x"></i> Producto</a>
                    <a class="dropdown-item" ng-class="{'activo': c.isActive('/tipoproducto/plist')}" href="tipoproducto/plist"><i class="fas fas fa-cubes fa-1x"></i> Tipo Producto</a>
                    <a class="dropdown-item" ng-class="{'activo': c.isActive('/linea/plist')}" href="linea/plist"><i class="fas fas fa-align-justify fa-1x"></i> Linea</a>
                </div>
            </li>
        </ul>
    
    <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
            <div id="user-div" class="dropdown" ng-show="c.logged">
                <span title="{{c.loggeduser}}" class="dropdown-toggle" id="user-initial" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button"><img class="smallLogo" src="./images/inicial/{{c.inicial}}.ico" alt="{{c.loggeduser}}"/></span>
                <!--                <button class="btn btn-outline-amber dropdown-toggle bg-light text-dark btn-block" type="button" id="user-name" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    <span><i class="fas fa-user"> </i> {{c.loggeduser}}</span>
                                </button>-->
                <div class="dropdown-menu menu-listados dropdown-menu-right" aria-labelledby="dropdownMenuButton">
<!--                    <h3 id="user-title"><i class="fas fa-user"> </i> {{c.loggeduser}}</h3>-->
                    <a title="Perfil" class="dropdown-item" href="usuario/view/{{c.loggeduserid}}"><i class="fas fa-user fa-2x"> </i></a>
                    <a title="Logout" class="dropdown-item" href="usuario/logout"><i class="fas fa-sign-out-alt fa-2x"></i></a>
                    <a title="Cambiar contraseña" class="dropdown-item" href="usuario/editpass/{{c.loggeduserid}}"><i class="fas fa-key fa-2x"></i></a>
                    <a title="Ver facturas" class="dropdown-item" href="factura/plistxusuario/10/1/{{c.loggeduserid}}"><i class="fas far fa-file fa-2x"></i></a>
                </div>
            </div>
        </li>
        <li title="Inicia sesion o regístrate" class="nav-item hvr-pop" ng-class="{'active': c.isActive('usuario/login')}" ng-show="!c.logged">
            <a id="log-btn" class="btn btn-amber btn-cta" href="usuario/login">Iniciar sesion</a>
        </li>
    </ul>
</div>
</nav>

