<header-component></header-component>
<div class="contenedor-home content">
    <div class="home-img-text row mx-auto  home-img">
        <h1>Cerca de la Huerta</h1>
        <h3>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. </h3>
    </div>


    <div class="contenedor-noticias content">
        <div class="noticias-titulo d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom row">

            <h2>Descubre con nosotros el día a día de la Huerta</h2>

            <div class="btn-toolbar mb-2 mb-md-0">

            </div>
        </div>

        <div class="noticias-main">
            <section class="noticias row">
                <article ng-repeat="fila in ajaxDataNews"  class="border border-secundary rounded article-noticias">
                    <a href="noticias/plist"><img src="http://localhost:8081/images_server/noticias/{{fila.foto}}" alt="foto noticia {{fila.id}}"></a>
                    <div class="texto">
                        <div>
                            <h4>{{fila.titulo}}</h4>
                            <small>{{fila.obj_usuario.nombre}} {{fila.obj_usuario.ape1}}</small><hr>
                            <p>{{fila.mensaje|clipString}}</p>
                        </div>
                        
                    </div>

                </article>
            </section>
            <div ng-show="!conectado" class="row d-flex flex-wrap align-items-center justify-content-around default-color-dark rounded">
                <span class="titulos h4 text-light">Forma parte de Cerca de la Huerta </span>
                <a href="usuario/registro" class="btn btn-amber">¡Regístrate!</a>
            </div>
        </div> 
    </div>
    <!--productos-->
    <div class="contenedor content">

        <div class="noticias-titulo d-flex justify-content-center flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom row">
            <h2>Directamente de la huerta, recibelo en tu casa o ven a por ello</h2>
        </div>

        <section class="producto-carrito row">
            <article ng-repeat="fila in ajaxDataGoods"  class="border border-secundary rounded">
                <a href="carrito/plist"><img src="http://localhost:8081/images_server/productos/{{fila.foto}}"  width="640" height="400" alt="producto 1"></a>
                <div class="texto">
                    <div>
                        <h4>{{fila.nombre}}</h4><hr>
                        <p>{{fila.desc}}</p>
                    </div>
                    
                </div>

            </article>
        </section>


    </div>

</div>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>
