/* amber = #ffa000 /255,160,0 */

/* Sticky footer styles
-------------------------------------------------- */
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100%;
    min-height: 100%;
    color: dimgray;
    background-color: floralwhite;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    position: relative;
}
body {    
    margin: 0 auto;
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
}
footer, .footer {
    /*    position: fixed;*/
    margin-bottom: 0;
    width: 100vw;
    /* Set the fixed height of the footer here */
    height: 100px;
    line-height: 1px; /* Vertically center the text there */
    background-color: #009688;
    background-image:  linear-gradient(to top, rgb(0,150,136) 0px, rgb(0, 0, 0) 100%);
    color:whitesmoke;
    z-index: 999 !important;
}

header-component nav{
    grid-area: header;
    color: floralwhite;
    background-image:  linear-gradient(to bottom, rgb(0,150,136) 0px, rgb(0, 0, 0) 100%);
}

/*grid general*/
principal {
    display: grid;
    grid-template-areas: 
        "header"
        "contenedor"
        "footer";
    grid-template-rows: auto auto 70px;  
    grid-template-columns: 100%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    min-height: 100%;
    min-width: 100vw;
    margin: 0;
    justify-items: center;
}

.contenedor {
    padding: 1.2em;
}
header-component{
    grid-area: header;

}
.footer {
    grid-area: footer;
}
.contenedor,  .contenedor-noticias, .contenedor-home { 
    grid-area: contenedor;
    margin-bottom: 100px; 
    margin-top: 134px;
    height: 100%;
    width: 100%;
    min-height: 80vh;
    justify-items: center;
}

.contenedor-login { 
    grid-area: contenedor;
    height: 600px;
    width: 100%;
    min-height: 80vh;
    justify-items: center;
}

.contenedor-home .contenedor-noticias, .contenedor-home .contenedor{
    margin: 0;
}

/*Noticias*/
.contenedor-noticias{
    display: grid;
    grid-template-areas: 
        "header header"
        "main main";
    grid-template-rows: auto 1fr;
    grid-template-columns: 100%;
    justify-items: center;
}

.noticias-titulo{
    grid-area: header;
    margin: 20px;
}

.noticias-main{
    grid-area: main;
}

.noticias{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    max-width: 1024px;
}

.noticias .article-noticias{

    /*background-color: rgba(30, 130, 76, 0.2);*/
    flex: 0 0 200px;
    margin: 5px;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    min-width: 49%;
}

.pagina-noticias .noticias .article-noticias:first-child{

    min-width: 100%;
}

.pagina-noticias .noticias .article-noticias:first-child img{

    height: 100%;
}

.noticias article img{
    min-width: 100px;
    width: 100%;
    height: 328px;
}

.noticias article .texto{
    background-image:  linear-gradient(to top, rgba(0,150,136, 0.1) 0px, rgba(0, 0, 0, 0.1) 100%);
    padding: 0 20px 20px;
}

.saltos-linea {
    white-space: pre-line; /*pre-wrap*/
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 0;
}

/*.footer > .container {
    padding-right: 0px;
    padding-left: 0px;
}*/

code {
    font-size: 80%;
}

th {
    cursor:pointer;
}

/*.btn{
    background-color: #F79135;
    border-color: white;
    color: white;
}
.btn:hover{
    background-color: white;
    color: #F79135;
    border-color: #F79135;
}

.btn:active{
    transform: translateY(2px);
    background-color: rgb(119, 136, 153) !important;
    color: #F79135;
    border-color: #F79135;
}*/

/*Botones*/
.btn.btn-dark-green {
    height: 2em;
    width: 2.5em;
    padding: 0.3em 0em 1.7em 0em;
    font-size: 1em;
    margin:0.1em;
}

.btn-outline-dark-green {
    height: 2em;
    width: 2.5em;
    padding: 0.3em 0em 1.7em 0em !important;
    font-size: 1em;
    margin:0.1em;
}

.menu-acciones .btn-dark-green{
    height: 2em;
    width: 2.5em;
    padding: 0.3em 1.8em 2em 1.2em !important;
    font-size: 1em;
    margin:0.1em;
    display: inline;
}

.btn.btn-dark-green.icon, .btn.btn-outline-dark-green.icon{
    height: 30px;
    width: 30px;

}
.nrpp{
    font-size: 13px;
}
.existencia {
    color:red;

}
.btn-orden{
    padding: 0.1em 0.5em;
}
/*Productos*/

.producto-carrito{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-bottom: 20px;
}


.producto-carrito article{
    background-image:  linear-gradient(to top, rgba(0,150,136, 0.1) 0px, rgba(0, 0, 0, 0.1) 100%);
    background-color: rgba(30, 130, 76, 0.2);
    filter: grayscale(50%);
    flex: 0 0 200px;
    margin: 5px;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    filter: grayscale(50%);

}

.producto-carrito article:hover{
    margin: 1px;
    padding: 4px;
    filter: grayscale(0%);
}


.producto-carrito article img{
    min-width: 100px;
    max-width: 320px;
    min-height: 64px;
    max-height: 205px;
}


.producto-carrito article .texto{
    padding: 0 20px 20px;
}

/*home*/
.home-img, .login-img{
    background-size: cover !important;
    background-color: rgba(30, 130, 76, 0.2);
    width: 100%;
    height: 90vh;
    display: grid;
    /*justify-items: center;*/
    align-items: center;
}

.home-img{
    background: url("../images/land.jpeg") no-repeat fixed center;
}

.login-img{
    background: url("../images/login.jpg") no-repeat fixed center;
}

.home-img-text{
    text-align: center;
    justify-content: center;
    color: floralwhite;
}

/*Fuentes*/
.titulos,h1,h2,h3,h4, .h2{
    font-family: 'Kaushan Script', cursive;
}
/*login*/
.login-form{
    height: 400px;
    align-content: center;
}

.card{
    height: 50%;
    margin-top: 100px;
    margin-bottom: 0px;
    width: 40%;
    background-color: rgba(30, 130, 76,0.2) !important;
}

.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #F79135;
}

.card-header{
    margin-bottom: 0px !important;
}

.card-body{
    margin-top: 5px;
    padding-top: 5px;
}

.card-form{
    padding-top: 0px !important;
    margin-top: 0px !important;
}
.card-header h3{
    color: white;
}

.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #ffa000;
    color: white;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.links{
    color: white;
    padding-bottom: 2em;
}

.links a{
    margin-left: 4px;
}

.card-footer div a{
    color: #ffa000;  
}

.card-footer div a:hover{
    color: white;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.6);
}

table, .formulario{
    background-image:  linear-gradient(to top, rgba(0,150,136, 0.1) 0px, rgba(0, 0, 0, 0.1) 100%);
    background-color: rgba(0, 0, 0, 0.1) !important;
    /*border: 5px ridge rgba(255,160,0, 1);/*groove’‘ridge’‘inset’ ‘outset’*/
    box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.6);
    padding: 1em;
}

th{
    font-weight: bold !important;
}

.menu-acciones{
    min-width: 3rem !important;
    padding: 0.5rem !important;
    background-color: rgba(255,255,255, 0.8) !important;
}

.menu-listados{
    min-width: 3rem !important;
    padding: 0.5rem !important;
    background-color: rgba(255,255,255, 0.9) !important;
}

.activo{
    background-color: rgba(255,160,0, 0.9);
}

select{
    width: auto !important;
    margin-left: 0.5em;  
}



#Logo, #log-btn{
    transition: all 0.3s;
}
.largeLogo{width: 100px;}
.smallLogo{width: 50px;}

.ocultar{
    opacity:0;
}

/*Responsive*/

@media screen and (min-width: 769px){
    /*    .content article {
            width: 24vw;
        }*/
}
@media screen and (max-width: 768px){
    /*    .content article {
            width: 49vw;
        }*/
    .card{
        width: 70%;
    }
    .noticias .article-noticias{
        min-width: 100%;
    }
    .noticias .article-noticias img{
        height: 100%;
    }

}

@media screen and (max-width: 480px){
    /*    .content article {
            width: 100vw;
        }*/

    .card{
        width: 100%;
    }

    .noticias .article-noticias{
        min-width: 100%;
    }
    .noticias .article-noticias img{
        height: 100%;
    }
    
    .contenedor,  .contenedor-noticias, .contenedor-home{
        margin-top: 300px;
    }

}

